#turkic_acceptfirst
{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
/*    background-color : #BD0000;*/
    font-size : 16px;
    font-family : Arial;
    font-weight : bold;
    padding : 10px;
/*    color : #fff;*/
}

#turkic_workerstats
{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
/*    background-color : #FFD992;*/
    font-size : 16px;
    font-family : Arial;
}

#turkic_workerstatscontent
{
    padding : 10px;
}

.turkic_workerstatsnumber
{
    font-weight : bold;
    display : inline;
}

.turkic_workerstatsperformance
{
    display : inline;
    padding : 0 0 0 20px;
}

#turkic_workerstatsreward
{
    float : right;
}

body
{
    margin-top : 50px;
}
