#turkic_acceptfirst
{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
/*    background-color : #BD0000;*/
    font-size : 16px;
    font-family : Arial;
    font-weight : bold;
    padding : 10px;
/*    color : #fff;*/
}

#turkic_workerstatus
{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
/*    background-color : #FFD992;*/
    font-size : 16px;
    font-family : Arial;
}

#turkic_workerstatuscontent
{
    padding : 10px;
}

.turkic_workerstatusnumber
{
    font-weight : bold;
    padding : 0 5px 0 25px;
    display : inline;
}

#turkic_workerstatuswisdom
{
    float : right;
    font-weight : bold;
}

body
{
    margin-top : 50px;
}
